<section class="about">
    <div class="about-content">
        <h2 class="a">About Me</h2>
        <p>
            Hi! I'm <strong>Saif eldin mahmoud hamed</strong> — a front-end developer passionate about creating clean, modern user
            interfaces using Angular, HTML, CSS, and JavaScript. I'm always eager to learn new techniques and improve my
            skills.
        </p>
        <p>
            With a background in <strong>History and Civilization</strong> and experience working on a variety of
            projects, I focus on delivering exceptional user experiences and responsive web designs.
        </p>
        <h3 class="a" >Skills:</h3>
        <ul>
            <li>HTML & CSS</li>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>Responsive Design</li>
            <li>Version Control (Git)</li>
        </ul>
        <h3 class="a">Contact Me:</h3>
        <p>If you'd like to collaborate on a project or if you have any questions, feel free to reach out!</p>
   
    </div>
</section>